name: "Bump new version"
on:
  workflow_dispatch:
    inputs:
      bump_type:
        description: "Version bump type"
        required: true
        default: "patch"
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  create-release:
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    outputs:
      release_id: ${{ steps.create-release.outputs.result }}
      package_version: ${{ env.VERSION }}
      latest_version: ${{ steps.latest-version.outputs.result }}
      changelog: ${{ steps.github_release_changelog.outputs.changelog }}

    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Bump version
        run: |
          npm version ${{ github.event.inputs.bump_type }} --no-git-tag-version
          VERSION=$(node -p "require('./package.json').version")
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Bumping version to: $VERSION"

      - name: Create and push release branch
        run: |
          git checkout -b release
          git add package.json
          git commit -m "Bump version to ${{ env.VERSION }}"
          git push origin release --force

      - name: Build changelog
        id: github_release_changelog
        uses: mikepenz/release-changelog-builder-action@v3
        with:
          configuration: ".github/changelog-configuration.json"
          toTag: "refs/heads/main"
          failOnError: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: create release
        id: create-release
        uses: actions/github-script@v7
        env:
          changelog: ${{ steps.github_release_changelog.outputs.changelog }}
        with:
          script: |
            const { data } = await github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: `v${process.env.VERSION}`,
              name: `v${process.env.VERSION}`,
              body: process.env.changelog,
              draft: true,
            })
            return data.id

  build-tauri:
    needs: create-release
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "macos-latest"
            args: "--target aarch64-apple-darwin"
          - platform: "macos-latest"
            args: "--target x86_64-apple-darwin"
          - platform: "ubuntu-22.04"
            args: ""
          - platform: "windows-latest"
            args: ""

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - uses: oven-sh/setup-bun@v1

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf libsoup-3.0-dev libjavascriptcoregtk-4.1-dev libwebkit2gtk-4.1-dev

      - name: install frontend dependencies
        run: bun i

      - uses: tauri-apps/tauri-action@v0
        env:
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          releaseId: ${{ needs.create-release.outputs.release_id }}
          releaseBody: ${{ needs.create-release.outputs.changelog }}
          updaterJsonPreferNsis: true
          args: ${{ matrix.args }}

  publish-release:
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    needs: [create-release, build-tauri]

    steps:
      - name: publish release
        id: publish-release
        uses: actions/github-script@v7
        env:
          release_id: ${{ needs.create-release.outputs.release_id }}
          PACKAGE_VERSION: ${{ needs.create-release.outputs.package_version }}
        with:
          script: |
            github.rest.repos.updateRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: process.env.release_id,
              draft: false,
            })

  update-main-verison:
    needs: publish-release
    if: success()
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: update main version
        run: |
          git checkout main
          git merge release --ff-only  # 或者使用 cherry-pick 获取版本更新的 commit
          git push origin main

  cleanup-release-branch:
    needs: update-main-verison
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: success()
    steps:
      - name: Delete release branch
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.git.deleteRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'heads/release'
            })

  upload_mirror_json:
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    needs: [create-release, publish-release]
    env:
      release_id: ${{ needs.create-release.outputs.release_id }}

    steps:
      - uses: actions/checkout@v4

      - name: get latest.json
        id: get-latest
        uses: actions/github-script@v7
        with:
          script: |
            const { owner, repo } = context.repo;
            const assets = await github.rest.repos.listReleaseAssets({
              owner: owner,
              repo: repo,
              release_id: process.env.release_id,
              per_page: 50,
            });
            const asset = assets.data.find((e) => e.name === 'latest.json');

            if (!asset) throw new Error("latest.json was not found in release assets");

            const data = await github.request(
              "GET /repos/{owner}/{repo}/releases/assets/{asset_id}",
              {
                owner: owner,
                repo: repo,
                asset_id: asset.id,
                headers: {
                  accept: "application/octet-stream",
                },
              },
            );

            return Buffer.from(data.data).toString()

      - name: new mirror latest.json
        env:
          TEXT: ${{ steps.get-latest.outputs.result }}
        run: |
          cd .scripts
          node mirror-latest-json.js

      - uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: thepoy
          server: thepoy.cc
          password: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
          local_path: ./.scripts/mirrors/*
          remote_path: /home/thepoy/app/lsar
          sftpArgs: "-o ConnectTimeout=5"

  delete-nightly-release-and-tag:
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    needs: upload_mirror_json

    steps:
      - uses: actions/checkout@v4

      - name: get old nightly release id
        run: |
          release_id=$(curl -s 'https://api.github.com/repos/alley-rs/lsar/releases/tags/nightly' | awk -F'[{},:]+' '/^  "id"/ {print $2}' | xargs)
          echo "RELEASE_ID=$release_id"  >> $GITHUB_ENV

      - name: delete old nightly release
        if: env.RELEASE_ID != ''
        run: gh release delete nightly --cleanup-tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
